@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

#map {
  /* Builtin to mapbox API */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


/* 
Nav Styling
*/

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  position: fixed;
  height: 10vh;
  background-color: #18453B;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  transition: all 0.2s ease-in-out;
}

nav.active {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
}

nav.active a {
  color: #000;
}

nav.active .container {
  padding: 10px 0;
}

nav a.current,
nav a:hover {
  color: #7BBD00;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.data-source-display {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
}

#toggle-saved-items-panel {
  background: none;
  border: none;
  color: white;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
}

#toggle-saved-items-panel:hover {
  cursor: pointer;
  color: #7BBD00;
  transition: 0.2s ease-in-out;
}

#saved-items-bar {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  right: 2vh;
  width: 36rem;
  height: 86vh;
  background: white;
  border-radius: 1rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-in-out 0.3s;
  z-index: 2;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

#saved-items-bar.visible {
  top: 12vh;
  transition: ease-in-out 0.3s;
  transform: translateY(0%);
}

.saved-items-close-btn {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  color: #f9f9f9;
  top: 0;
  right: 0;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #18453B;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.saved-items-close-btn:hover {
  color: #7BBD00;
  transition: 0.2s ease-in-out;
}

#saved-items-bar h2 {
  font-size: 1.6rem;
  text-align: center
}

.saved-items-list {
  margin-top: 1.75rem;
  list-style-type: none;
  max-height: 50vh;
  overflow-y: scroll
}

.saved-items-list::-webkit-scrollbar {
  width: 1rem;
}

.saved-items-list::-webkit-scrollbar-track {
  background: #cae0dc;
  border-radius: 1rem;
}

.saved-items-list::-webkit-scrollbar-thumb {
  background: #18453B;
  border-radius: 1rem;
}

.saved-items-list::-webkit-scrollbar-thumb:hover {
  background: #7BBD00;
  transition: 0.2s ease-in-out;
}

.saved-items-list li {
  padding: 1.5rem;
  box-shadow: 0 0.05rem 0.25rem 0 rgba(0,0,0,0.2);
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  margin-left: 0.1rem;
  width: 95%;
}

.clear-saved-items {
  float: right;
  margin: 1rem;
  padding: 0.5rem;
  border: solid #18453B 0.15rem;
  color: #18453B;
  border-radius: 0.2rem;
  cursor: pointer;
  display: none;
}

/*
Saved Items Styling
*/
.saved-item {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saved-item>button {
  font-size: 1.4rem;
  background: none;
  border: none;
  margin-left: 1rem;
  color: #18453B;
}

.saved-item>button:hover {
  cursor: pointer;
}

.saved-alumni {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  max-height: 6rem;
}

.saved-alumni:hover {
  cursor: pointer;
}

.saved-alumni-details p {
  max-height: 5rem;
  overflow: hidden;
}

.saved-alumni-image {
  width: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.saved-job {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.saved-job:hover {
  cursor: pointer;
}

.saved-job h4 {
  max-height: 2rem;
  font-size: 1.2rem;
  overflow: hidden;
}

.saved-job span {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.saved-job span i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
  color: #18453B;
}

.saved-job span p {
  max-height: 2rem;
  overflow: hidden;
}

#saved-items-bar h3 {
  font-size: 1.4rem
}

.saved-items-email-div {
  margin-bottom: 1rem;
}

.saved-items-email-div h3 {
  font-size: 1.4rem;
  margin-bottom: 0.25rem;
}

.saved-items-email-input {
  height: 3rem;
  width: 100%;
  padding: 0.5rem;
}

.export-saved-items-button {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: solid 0.2rem #18453B;
  border-radius: 0.25rem;
  background: #18453B;
  font-size: 1.4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.export-saved-items-button:hover { 
  cursor: pointer;
}


/* 
Filter Styling
*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.filter {
  z-index: 1;
}

.text {
  text-transform: uppercase;
}

.filter-open-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: 0.2s ease-in-out;
  margin-right: 2rem;
}

.filter-open-btn:hover {
  color: #7BBD00;
  transition: 0.2s ease-in-out;
}

.filter {
  position: absolute;
  top: 12vh;
  left: 0;
  height: 86vh;
  border-radius: 1rem;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  font-size: 1.4rem;
}

.filter.visible {
  transform: translateX(0);
  left: 2vh;
}

.filter-white {
  background-color: #fff;
  width: 36rem;
  padding: 4rem;
  padding-top: 8rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

.filter-close-btn {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  color: #f9f9f9;
  top: 0;
  right: 0;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #18453B;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.filter-close-btn:hover {
  color: #7BBD00;
  transition: 0.2s ease-in-out;
}

.spartan-logo {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
}

.filter>h3 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #4a4a4a;
  font-size: 1.2rem;
}

.reset-filters-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.reset-filters-div button {
  height: 3rem;
  width: 100%;
  border: none;
  background: rgb(232, 95, 70);
  font-weight: bold;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

.data-toggle-container {
  width: 100%;
  display: flex;
  position: relative;
  border: solid #18453B 0.2rem;
  border-radius: 0.2rem;
}

.data-toggle-btn {
  width: 50%;
  height: 3rem;
  border: none;
  font-weight: bold;
  background: transparent;
  color: #18453B;
  cursor: pointer;
  z-index: 1;
  transition: color 0.5s;
}

.data-toggle-active {
  color: white;
}

.data-toggle-slider {
  position: absolute;
  background: #18453B;
  width: 50.25%;
  height: 3rem;
  transition: transform 0.5s;
  transform: translateX(0%);
}

.data-toggle-slider-jobs {
  transform: translateX(100%);
}

.alumni-filter-list,
.job-filter-list {
  display: none;
  margin-top: 2rem;
  overflow: auto;
  height: 50vh;
}


.filter-list-active {
  display: block;
}

.filter-list>div {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
}

.filter-list div h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text-filter-input {
  display: block;
  height: 3rem;
  padding: 0.5rem;
}

.radio-filter-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.radio-filter-div div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.radio-filter-div div input {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.radio-filter-div:last-child {
  margin-bottom: 0rem;
}

.filter-list::-webkit-scrollbar {
  width: 1rem;
}

.filter-list::-webkit-scrollbar-track {
  background: #cae0dc;
  border-radius: 1rem;
}

.filter-list::-webkit-scrollbar-thumb {
  background: #18453B;
  border-radius: 1rem;
}

.filter-list::-webkit-scrollbar-thumb:hover {
  background: #7BBD00;
  transition: 0.2s ease-in-out;
}

/* 
Data Point Info
*/

.data-point-info {
  position: absolute;
  width: 36rem;
  height: 86vh;
  background: white;
  top: 12vh;
  right: 0vh;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  padding: 4rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
}

.data-point-info.visible {
  transform: translateX(0);
  right: 2vh;
}

.data-point-info-close-btn {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  color: #f9f9f9;
  top: 0;
  right: 0;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0.85rem;
  background: #18453B;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.data-point-info-close-btn:hover {
  color: #7BBD00;
  transition: 0.2s ease-in-out;
}

.save-data-button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 3.5rem;
  padding: 1rem;
  border: solid 0.2rem #18453B;
  border-radius: 0.5rem;
  background: none;
  font-size: 1.5rem;
  color: #18453B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-data-button i {
  margin-right: 0.5rem;
}

.save-data-button:hover {
  cursor: pointer;
}


.mapboxgl-popup-close-button {
  display: none;
}

/* 
ALUMNI INFO STYLING
*/
.alumni-info div {
  margin-bottom: 1.5rem;
}

.alumni-info div h4 {
  margin-bottom: 0.25rem;
  color: #18453B;
}

#alumni-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

#alumni-header-details {
  margin-bottom: 0;
  text-align: center;
}

#alumni-header-image {
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.alumni-info hr {
  color: #18453B;
  margin-bottom: 1.5rem;
}

#alumni-education-history ul {
  list-style-type: none;
}


/* 
JOB INFO STYLING
*/
.job-info div {
  margin-bottom: 1.5rem;
}

#job-info-header {
  margin-bottom: 1.5rem;
}

#job-info-header span {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

#job-info-header span i {
  font-size: 1.6rem;
  margin-right: 1rem;
  color: #18453B;
}

#job-info-location {
  color: rgb(93, 93, 93);
}

.job-info hr {
  color: #18453B;
  margin-bottom: 1.5rem;
}

#job-info-details {
  height: 65vh;
  overflow: auto;
}

#job-info-details::-webkit-scrollbar {
  width: 10px;
  /* display: none; */
}

#job-info-details::-webkit-scrollbar-track {
  background: #eef7f5;
}

#job-info-details::-webkit-scrollbar-thumb {
  background: #18453B;
  border-radius: 10px;
}

#job-info-details::-webkit-scrollbar-thumb:hover {
  background: #7BBD00;
}

.job-info div h4 {
  margin-bottom: 2.5px;
  color: #18453B;
}

.job-info ul {
  list-style-type: none;
}


/*
POPUP STYLING
*/
.popup-alumni-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-alumni-header-image {
  width: 75px;
  border-radius: 50%;
  margin-right: 1rem;
}

.popup-jobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-jobs h4 {
  margin-bottom: 0.5rem;
}

.popup-jobs span {
  display: flex;
  align-items: center;
  color: #18453B;
}

.popup-jobs span i {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

/* 
Data Cluster Info
 */

 .data-cluster-info {

  position: absolute;
  width: 36rem;
  height: 86vh;
  background: white;
  top: 12vh;
  right: 0vh;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  padding: 4rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  list-style-type: none;
  overflow-y:scroll;
}
.data-cluster-info::-webkit-scrollbar {
  width: 1rem;
}

.data-cluster-info::-webkit-scrollbar-track {
  background: #cae0dc;
  border-radius: 1rem;
}

.data-cluster-info::-webkit-scrollbar-thumb {
  background: #18453B;
  border-radius: 1rem;
}

.data-cluster-info::-webkit-scrollbar-thumb:hover {
  background: #7BBD00;
  transition: 0.2s ease-in-out;
}

.data-cluster-info.visible {
  transform: translateX(0);
  right: 2vh;
}

.data-cluster-info-close-btn {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  color: #f9f9f9;
  top: 0;
  right: 0;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0.85rem;
  background: #18453B;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.data-cluster-info-close-btn:hover {
  color: #7BBD00;
  transition: 0.2s ease-in-out;
}

.data-point-info-back-btn {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  color: #f9f9f9;
  top: 0;
  left: 0;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 0.85rem;
  background: #18453B;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.data-point-info-back-btn:hover {
  color: #7BBD00;
  transition: 0.2s ease-in-out;
}

.data-cluster-info-single {
  border: None;
  color: black;
  text-align: center;
  background: None;
}

.data-cluster-info-single:hover {
  color: #7BBD00;
  transition: 0.2s ease-in-out;
}


.survey-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.survey-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.survey-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.survey-buttons button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

#survey-ok {
  background-color: #18453B;
}

#survey-cancel {
  background-color: rgb(184, 14, 14);
}

.survey-buttons button:hover {
  opacity: 0.8;
}
